@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --searchbar-bg-color: #ebebeb;
  --searchbar-placeholder-color: #30384c;
  --red: #ff0000;
  --white: #ffffff;
  --input-focus-color: rgb(119, 119, 242);
  --link-text-gray-color: #898989;
  --channel-text-gray-color: #C2C2C2;
  --black-color: #19202C;
}

html {
  font-size: 16px;
  font-family: "Mulish";
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  font-size: 16px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

body {
    padding-top: 0.1px;
}

