.desktop_header {
  width: 100vw;
  height: 4rem;
  display: flex;
  align-items: center;
  background-color: var(--white);

  position: fixed;

  padding-left: 2rem;
  padding-top: 1rem;

  z-index: 10;
}

.user_pic_img {
  border-radius: 50px;
}

.mobile_header {
  width: 100vw;
  height: 4rem;
  display: none;
  align-items: center;
  background-color: var(--white);

  position: fixed;

  padding-left: 1rem;

  z-index: 10;
}

.mobile_channel_name {
  font-size: 16px;
  font-weight: bold;
}

.burger {
  margin-right: 2rem;
}

.logo_container {
  white-space: nowrap;
  width: auto;
  gap: 5px;
  margin-right: 2rem;
}

.header_container {
  display: flex;
  width: 82vw;
  justify-content: space-between;
}

.searchbar_container {
  position: relative;
  width: 50%;

  height: 44px;
}

.searchbar {
  width: 100%;
  height: 100%;
  background-color: var(--searchbar-bg-color);

  border: none;
  border-radius: 22px;
  padding-left: 1rem;

  &::placeholder {
    color: var(--searchbar-placeholder-color);
    opacity: 0.4;
  }

  &:focus {
    outline: 1px solid var(--input-focus-color);
  }
}

.searchbar_icon {
  position: absolute;
  right: 1rem;
  top: 12px;
}

 .search_icon {
    color: var(--black-color);
  }

.icons_container {
  display: flex;
  gap: 3rem;
  margin-right: 3rem;
}

.icon {
  position: relative;
  color: var(--icon-color);
}

.three_dots_icon {
  color: var(--black-color);
}

.circle {
  position: absolute;

  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;

  top: 6px;
  right: 8px;

  background-color: var(--red);
  color: var(--white);
}

@media (max-width: 767px) {
  .icon {
    display: none;
  }
}

@media (max-width: 480px) {
  .desktop_header {
    display: none;
  }

  .mobile_header {
    display: flex;
    justify-content: space-between;
  }

  .icons_container {
    display: flex;
    gap: 0;
    margin-right: 0;
  }

  .logo_container {
    display: flex;
    width: auto;
    margin-right: 0.5rem;
    gap: 0.5rem;
  }
}
