main {
  width: 85vw;

  display: flex;
  flex-direction: column;

  margin-left: 15%;
  margin-top: 5rem;

  padding-right: 4vw;
  padding-left: 1rem;

  background-color: var(--body-bg);
}

.channel_banner {
  width: 100%;
  height: 17.5rem;

  background-image: url(/assets/img/banner.jpg);
  background-repeat: no-repeat;
  background-size: contain;

  border-radius: 10px;

  color: var(--black-color);
}

.channel_section {
  width: 100%;
  height: auto;
}

.channel_header {
  display: flex;
  justify-content: space-between;
}
.channel_author {
  width: 18rem;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author_img {
  border-radius: 50%;
}

.author_name-container {
  display: flex;
  flex-direction: column;
}

.followers {
  color: var(--channel-text-gray-color);
}

.channel_notification_button {
  color: var(--icon-color);
}
.channel_subscribe {
  height: 40px;
  gap: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe_button {
  background-color: var(--red);
  color: var(--white);

  width: 9.6rem;
  height: 40px;

  border-radius: 20px;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #c20000;
  }

  &:active {
    background-color: #a80000;
    transform: scale(0.97);
  }
}

.channel_content_container {
  display: flex;
  width: 100%;
  position: relative;

  margin-bottom: 3.8rem;
}

.mobile_channel_navigation {
  display: none;
  align-items: center;
  position: sticky;
  z-index: 5;

  background-color: var(--white);

  justify-content: space-around;

  font-size: 18px;

  top: 4rem;
  width: 100vw;

  margin-top: 100px;
}

.channel_navigation {
  position: sticky;
  z-index: 5;

  display: flex;
  background-color: var(--white);
  gap: 4.3rem;

  padding-top: 1.25rem;
  padding-bottom: 1.25rem;

  font-size: 18px;

  top: 4rem;
  width: 85vw;
}

.channel_nav-link {
  &:hover {
    border-bottom: 2px solid black;
  }
}

.recommended_channels {
  position: absolute;
  top: -60px;
  right: 8%;

  display: flex;
  flex-direction: column;

  align-items: center;

  height: 100%;
  width: 11rem;

  color: var(--channel-text-gray-color);

  padding-top: 1.25rem;
  gap: 20px;

  z-index: 8;
}

.recommended_channel {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 1rem;
  color: var(--black-color);

  height: 4rem;
  width: 100%;

  border-radius: 8px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.08);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.recommended_channel_img {
  border-radius: 50%;
}

.recommended_video {
  display: flex;

  gap: 2rem;
  width: 75%;
  height: 15.6rem;

  padding: 5px;
  border-radius: 8px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.08);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.16);
    transform: scale(0.98);
  }
}

.recommended_video_img {
  border-radius: 10px;
}

.recommended_video_text {
  display: flex;
  flex-direction: column;

  padding-top: 0.5rem;
}

.recommended_video_title {
  width: 100%;
  margin-bottom: 0.6rem;
}

.video_description {
  width: 100%;
  opacity: 60%;
  margin-bottom: 1.5rem;

  overflow: hidden;
}

.video_info {
  color: var(--channel-text-gray-color);
}


.videos_container {
  width: 110%;

  margin-bottom: 2rem;
  overflow: visible;
  
}

.videos_container_header {
  display: flex;
  justify-content: space-between;

  margin-bottom: 2rem;
  padding-right: 10%;
}

.videos_navigation_arrow {
  &:hover .arrow {
    background-color: rgba(0, 0, 0, 0.08);
  }

  &:active .arrow {
    background-color: rgba(0, 0, 0, 0.16);
    transform: scale(0.95);
  }
}

.arrow {
  border-radius: 40px;
}


.videos_list {
  display: flex;

  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;

  gap: 2rem;
}

.empty_space {
color: transparent;
background-color: transparent;
width: 120px;
}

.video_list_item {
  display: flex;
  flex-direction: column;

  position: relative;
  padding: 5px;
  border-radius: 8px;

  width: 15.6rem;

  &:hover {
    background-color: rgba(0, 0, 0, 0.08);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.16);
    transform: scale(0.98);
  }
}

.video_preview_img {
  border-radius: 14px;
}

.time {
  position: absolute;

  right: 15px;
  bottom: 70px;

  width: 3rem;
  height: 1.5rem;
  border-radius: 12px;

  background-color: rgba(0, 0, 0, 0.3);
  color: white;

  font-size: 14px;

  padding: 3px 10px;

  display: flex;
  text-align: center;
}

.video_list_item_info {
  display: flex;
  justify-content: space-between;
  white-space: pre;
  font-size: 13px;
  color: var(--channel-text-gray-color);
}

.active_channel_nav-link {
  border-bottom: 2px solid var(--red);
  color: var(--red);
  font-weight: bold;
}

@media (max-width: 1500px) {
  .recommended_channels {
    right: 2%;
  }
}

@media (max-width: 1280px) {
  main {
    width: 100%;
    margin-left: 0;

    padding-left: 1rem;
    padding-right: 1rem;
  }

  .recommended_video {
    width: 100%;
  }
  .recommended_channels {
    display: none;
  }
  .channel_navigation {
    width: 100%;

    gap: 0;
    justify-content: space-between;
  }

  .channel_banner {
    height: 12rem;
  }
}

@media (max-width: 767px) {
  main {
    width: 100%;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 4rem;
  }

  .channel_banner {
    height: 6rem;

    background-position: center;
    background-size: cover;

    border-radius: 0;
    margin-bottom: 0;

    position: absolute;
  }

  .channel_header {
    flex-direction: column;

    padding-left: 1rem;

    position: relative;
    top: 3.5rem;

    height: 12rem;

    gap: 2.25rem;
  }

  .channel_author {
    flex-direction: column;
    align-items: start;

    height: auto;
  }

  .author_name-container {
    display: flex;
    flex-direction: column;
  }

  .channel_notification_button {
    display: none;
  }

  .mobile_channel_navigation {
    display: flex;
  }

  .channel_navigation {
    display: none;
  }

  .channel_content_container {
    display: none;
  }

  .videos_list {
    flex-direction: column;
    align-items: center;
  }

  .video_list_item {
    display: flex;
    flex-direction: column;

    position: relative;
    padding: 5px;
    border-radius: 8px;

    width: 90%;
  }
  .videos_container_header {
    display: none;
  }
}
