main {
  width: 82%;

  display: flex;
  flex-direction: column;

  margin-left: 15%;
  margin-top: 10vh;
}

.channel_banner {
  width: 100%;
  height: auto;

  margin-bottom: 2rem;
}

.channel_section {
  width: 100%;
  height: auto;
}

.channel_header {
  display: flex;
  justify-content: space-between;
}
.channel_author {
  width: 18rem;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author_name-container {
  display: flex;
  flex-direction: column;
}

.followers {
  color: var(--channel-text-gray-color);
}

.channel_subscribe {
  height: 40px;
  gap: 1.25rem;
  display: flex;
  justify-content: space-between;
}

.subscribe_button {
  background-color: var(--red);
  color: var(--white);

  width: 9.6rem;
  height: 40px;

  border-radius: 20px;
}

.channel_content_container {
  display: flex;
  width: 100%;
  position: relative;

  margin-bottom: 3.8rem;
}

.channel_navigation {
  position: sticky;
  z-index: 5;

  display: flex;
  background-color: var(--white);
  gap: 4.3rem;

  padding-top: 1.25rem;
  padding-bottom: 1.25rem;

  font-size: 18px;

  top: 4rem;
  width: 800%;
}

.channel_nav-link {
  &:hover {
    border-bottom: 2px solid black;
  }
}

.recommended_channels {
  position: absolute;
  top: -60px;
  right: 90px;

  display: flex;
  flex-direction: column;

  align-items: center;

  height: 100%;
  width: 11rem;

  color: var(--channel-text-gray-color);

  padding-top: 1.25rem;
  gap: 20px;

  z-index: 8;
}

.recommended_channel {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 1rem;
  color: var(--black-color);

  height: 4rem;
  width: 100%;

  border-radius: 8px;

  
    
  &:hover {
    background-color: rgba(0, 0, 0, 0.08);
  }

   &:active {
    background-color: rgba(0, 0, 0, 0.2); 
  }
}

.recommended_channel_img {
  border-radius: 50%;
}

.recommended_video {
  display: flex;

  gap: 2rem;
  width: 70%;
  padding: 10px;
  border-radius: 8px;

   &:hover {
    background-color: rgba(0, 0, 0, 0.08); 
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.16); 
    transform: scale(0.98); 
  }
}

.recommended_video_img {
  border-radius: 10px;
}
.recommended_video_text {
  display: flex;
  flex-direction: column;

  padding-top: 1rem;
}

.recommended_video_title {
  width: 100%;
  margin-bottom: 0.6rem;
}

.video_description {
  width: 100%;
  opacity: 60%;
  margin-bottom: 2rem;
}

.video_info {
  color: var(--channel-text-gray-color);
}

.videos_container {
  width: 100%;

  margin-bottom: 2rem;
}

.videos_container_header {
  display: flex;
  justify-content: space-between;

  margin-bottom: 2rem;
}

.videos_navigation_arrow {
  
  &:hover .arrow{
    background-color: rgba(0, 0, 0, 0.08); /* лёгкое затемнение при наведении */
  }

  &:active .arrow{
    background-color: rgba(0, 0, 0, 0.16); /* более сильное затемнение при клике */
    transform: scale(0.95); /* эффект нажатия */
  }
}

.arrow{
  border-radius: 40px ;
}
.videos_list {
  display: flex;
  gap: 2rem;
}

.video_list_item {
  display: flex;
  flex-direction: column;

  position: relative;
  padding: 5px;
  border-radius: 8px;

  width: 15.6rem;

    &:hover {
    background-color: rgba(0, 0, 0, 0.08); 
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.16); 
    transform: scale(0.98); 
  }
}

.video_preview_img {
  border-radius: 10px;
}

.time {
  position: absolute;

  right: 15px;
  bottom: 70px;

  width: 3rem;
  height: 1.5rem;
  border-radius: 12px;

  background-color: rgba(0, 0, 0, 0.3);
  color: var(--white);

  font-size: 14px;

  padding: 3px 10px;

  display: flex;
  text-align: center;
}

.video_list_item_info {
  font-size: 13px;
  color: var(--channel-text-gray-color);
}

.active_channel_nav-link {
  border-bottom: 2px solid var(--red);
  color: var(--red);
  font-weight: bold;
}